body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:55px;
  top:32px;
  width:160px;
  height:80px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u2 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:558px;
  top:58px;
  width:142px;
  height:28px;
  font-size:24px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:914px;
  top:58px;
  width:80px;
  height:28px;
  font-size:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1068px;
  top:58px;
  width:68px;
  height:28px;
  font-size:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1210px;
  top:37px;
  width:150px;
  height:70px;
  font-size:24px;
  text-decoration:underline;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:779px;
  top:58px;
  width:61px;
  height:28px;
  font-size:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:60px;
  top:168px;
  width:431px;
  height:32px;
  font-size:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:32px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:60px;
  top:220px;
  width:1300px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:1283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1300px;
  height:1px;
}
#u16 {
  position:absolute;
  left:950px;
  top:168px;
  width:120px;
  height:40px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1240px;
  top:168px;
  width:120px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:68px;
  top:258px;
  width:290px;
  height:32px;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1100px;
  top:168px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:68px;
  top:370px;
  width:1292px;
  height:260px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:260px;
}
#u25 {
  position:absolute;
  left:2px;
  top:122px;
  width:1288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:100px;
  top:410px;
  width:146px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:100px;
  top:430px;
  width:197px;
  height:130px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:130px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1130px;
  top:410px;
  width:200px;
  height:143px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:143px;
}
#u31 {
  position:absolute;
  left:2px;
  top:64px;
  width:196px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:420px;
  top:410px;
  width:216px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:420px;
  top:438px;
  width:130px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:560px;
  top:438px;
  width:140px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:863px;
  top:438px;
  width:145px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:710px;
  top:438px;
  width:145px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:450px;
  top:254px;
  width:150px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:250px;
  top:254px;
  width:180px;
  height:40px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:100px;
  top:570px;
  width:90px;
  height:33px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u47 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:888px;
  top:550px;
  width:120px;
  height:40px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:420px;
  top:502px;
  width:108px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:420px;
  top:540px;
  width:220px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u53 {
  position:absolute;
  left:10px;
  top:21px;
  width:200px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:650px;
  top:540px;
  width:220px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u55 {
  position:absolute;
  left:10px;
  top:21px;
  width:200px;
  word-wrap:break-word;
}
