body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:377px;
  width:144px;
  height:33px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:427px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u3 {
  position:absolute;
  left:10px;
  top:20px;
  width:353px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:497px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u5 {
  position:absolute;
  left:10px;
  top:20px;
  width:353px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:567px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u7 {
  position:absolute;
  left:10px;
  top:20px;
  width:353px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:60px;
  top:707px;
  width:373px;
  height:130px;
  font-size:16px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:130px;
}
#u9 {
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:467px;
  top:707px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u11 {
  position:absolute;
  left:10px;
  top:20px;
  width:353px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:467px;
  top:777px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u13 {
  position:absolute;
  left:10px;
  top:20px;
  width:353px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:637px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u15 {
  position:absolute;
  left:10px;
  top:20px;
  width:353px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:60px;
  top:1500px;
  width:215px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:211px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:2px;
  top:3130px;
  width:1400px;
  height:370px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:370px;
}
#u19 {
  position:absolute;
  left:2px;
  top:177px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:721px;
  top:3175px;
  width:148px;
  height:76px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:76px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:92px;
  top:3175px;
  width:197px;
  height:190px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:190px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:406px;
  top:3175px;
  width:197px;
  height:95px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:95px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:992px;
  top:3175px;
  width:108px;
  height:190px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:190px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:55px;
  top:32px;
  width:160px;
  height:80px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u30 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:558px;
  top:58px;
  width:144px;
  height:28px;
  font-size:24px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:914px;
  top:58px;
  width:79px;
  height:28px;
  font-size:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1068px;
  top:58px;
  width:68px;
  height:28px;
  font-size:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1210px;
  top:37px;
  width:150px;
  height:70px;
  font-size:24px;
  text-decoration:underline;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:70px;
}
#u38 {
  position:absolute;
  left:2px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:779px;
  top:58px;
  width:62px;
  height:28px;
  font-size:24px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:60px;
  top:1182px;
  width:238px;
  height:33px;
  font-size:28px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:33px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:60px;
  top:1308px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u44 {
  position:absolute;
  left:10px;
  top:20px;
  width:353px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:60px;
  top:1390px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u46 {
  position:absolute;
  left:10px;
  top:20px;
  width:353px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:60px;
  top:892px;
  width:376px;
  height:33px;
  font-size:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:33px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:60px;
  top:1034px;
  width:820px;
  height:57px;
  font-size:16px;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:802px;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:60px;
  top:957px;
  width:820px;
  height:57px;
  font-size:16px;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:802px;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:60px;
  top:1233px;
  width:180px;
  height:48px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:48px;
}
#u54 {
  position:absolute;
  left:2px;
  top:16px;
  width:176px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:60px;
  top:190px;
  width:156px;
  height:33px;
  font-size:28px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:60px;
  top:258px;
  width:870px;
  height:62px;
  font-size:22px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:62px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  word-wrap:break-word;
}
