body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:560px;
  width:239px;
  height:32px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:686px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u3 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:768px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u5 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:300px;
  width:216px;
  height:32px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:60px;
  top:437px;
  width:820px;
  height:53px;
  font-size:16px;
}
#u9 {
  position:absolute;
  left:16px;
  top:0px;
  width:802px;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  position:absolute;
  left:60px;
  top:360px;
  width:820px;
  height:53px;
  font-size:16px;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:802px;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:60px;
  top:611px;
  width:180px;
  height:48px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:176px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:890px;
  width:215px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:305px;
  top:890px;
  width:215px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:2px;
  top:1073px;
  width:1400px;
  height:370px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:370px;
}
#u19 {
  position:absolute;
  left:2px;
  top:177px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:721px;
  top:1118px;
  width:154px;
  height:71px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:71px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:92px;
  top:1118px;
  width:197px;
  height:176px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:176px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:406px;
  top:1118px;
  width:197px;
  height:88px;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:88px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:992px;
  top:1118px;
  width:110px;
  height:176px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:176px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:55px;
  top:32px;
  width:160px;
  height:80px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u30 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:558px;
  top:58px;
  width:142px;
  height:28px;
  font-size:24px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:914px;
  top:58px;
  width:80px;
  height:28px;
  font-size:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:1068px;
  top:58px;
  width:68px;
  height:28px;
  font-size:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1210px;
  top:37px;
  width:150px;
  height:70px;
  font-size:24px;
  text-decoration:underline;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:70px;
}
#u38 {
  position:absolute;
  left:2px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:779px;
  top:58px;
  width:61px;
  height:28px;
  font-size:24px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:55px;
  top:190px;
  width:215px;
  height:60px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:269px;
  top:190px;
  width:215px;
  height:60px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:483px;
  top:190px;
  width:215px;
  height:60px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  word-wrap:break-word;
}
