body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:186px;
  width:165px;
  height:33px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:630px;
  top:225px;
  width:730px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:730px;
  height:1px;
}
#u3 {
  position:absolute;
  left:60px;
  top:225px;
  width:450px;
  height:10px;
}
#u3_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_end {
  position:absolute;
  left:433px;
  top:-5px;
  width:18px;
  height:20px;
}
#u3_line {
  position:absolute;
  left:0px;
  top:5px;
  width:450px;
  height:1px;
}
#u4 {
  position:absolute;
  left:65px;
  top:476px;
  width:199px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:68px;
  top:514px;
  width:130px;
  height:30px;
  font-size:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:78px;
  top:519px;
  width:20px;
  height:20px;
  font-size:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:208px;
  top:514px;
  width:130px;
  height:30px;
  font-size:10px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:218px;
  top:519px;
  width:20px;
  height:20px;
  font-size:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:630px;
  top:261px;
  width:185px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1333px;
  top:263px;
  width:27px;
  height:16px;
  font-size:14px;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:794px;
  top:321px;
  width:566px;
  height:77px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:77px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:794px;
  top:408px;
  width:180px;
  height:40px;
  font-size:10px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:990px;
  top:195px;
  width:41px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1050px;
  top:190px;
  width:130px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24_input:disabled {
  color:grayText;
}
#u25 {
  position:absolute;
  left:630px;
  top:1240px;
  width:215px;
  height:60px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u26 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:865px;
  top:1240px;
  width:215px;
  height:60px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1199px;
  top:195px;
  width:97px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1300px;
  top:190px;
  width:59px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u31_input:disabled {
  color:grayText;
}
#u32 {
  position:absolute;
  left:60px;
  top:818px;
  width:180px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:60px;
  top:574px;
  width:436px;
  height:196px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:196px;
}
#u35 {
  position:absolute;
  left:630px;
  top:321px;
  width:148px;
  height:127px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:127px;
}
#u36 {
  position:absolute;
  left:2px;
  top:48px;
  width:144px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:1870px;
  width:1400px;
  height:370px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:370px;
}
#u38 {
  position:absolute;
  left:2px;
  top:177px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:719px;
  top:1915px;
  width:148px;
  height:76px;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:76px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:90px;
  top:1915px;
  width:197px;
  height:190px;
  font-size:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:190px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:404px;
  top:1915px;
  width:197px;
  height:95px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:95px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:990px;
  top:1915px;
  width:108px;
  height:190px;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:190px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:55px;
  top:32px;
  width:160px;
  height:80px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u49 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:558px;
  top:58px;
  width:144px;
  height:28px;
  font-size:24px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:914px;
  top:58px;
  width:79px;
  height:28px;
  font-size:24px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1068px;
  top:58px;
  width:68px;
  height:28px;
  font-size:24px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1210px;
  top:37px;
  width:150px;
  height:70px;
  font-size:24px;
  text-decoration:underline;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:70px;
}
#u57 {
  position:absolute;
  left:2px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:779px;
  top:58px;
  width:62px;
  height:28px;
  font-size:24px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:65px;
  top:348px;
  width:125px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:65px;
  top:385px;
  width:412px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u63 {
  position:absolute;
  left:16px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u62_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64 {
  position:absolute;
  left:65px;
  top:418px;
  width:432px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u65 {
  position:absolute;
  left:16px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u64_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66 {
  position:absolute;
  left:65px;
  top:275px;
  width:435px;
  height:40px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:40px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u66_input:disabled {
  color:grayText;
}
#u67 {
  position:absolute;
  left:65px;
  top:245px;
  width:117px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:840px;
  top:256px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:880px;
  top:256px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:920px;
  top:256px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:630px;
  top:470px;
  width:730px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:730px;
  height:1px;
}
#u76 {
  position:absolute;
  left:630px;
  top:503px;
  width:185px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:15px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:1333px;
  top:505px;
  width:27px;
  height:16px;
  font-size:14px;
  text-align:right;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:794px;
  top:563px;
  width:566px;
  height:77px;
  font-size:14px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:77px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:794px;
  top:650px;
  width:180px;
  height:40px;
  font-size:10px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u83 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:630px;
  top:563px;
  width:148px;
  height:127px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:127px;
}
#u85 {
  position:absolute;
  left:2px;
  top:48px;
  width:144px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:840px;
  top:498px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:880px;
  top:498px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:920px;
  top:498px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:630px;
  top:712px;
  width:730px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:5px;
  width:730px;
  height:1px;
}
#u93 {
  position:absolute;
  left:630px;
  top:751px;
  width:185px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:15px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:1333px;
  top:753px;
  width:27px;
  height:16px;
  font-size:14px;
  text-align:right;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:794px;
  top:811px;
  width:566px;
  height:77px;
  font-size:14px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:77px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:794px;
  top:898px;
  width:180px;
  height:40px;
  font-size:10px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u100 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:630px;
  top:811px;
  width:148px;
  height:127px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:127px;
}
#u102 {
  position:absolute;
  left:2px;
  top:48px;
  width:144px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:840px;
  top:746px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:880px;
  top:746px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:920px;
  top:746px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:630px;
  top:960px;
  width:730px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:730px;
  height:1px;
}
#u110 {
  position:absolute;
  left:630px;
  top:995px;
  width:185px;
  height:15px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:15px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:1333px;
  top:997px;
  width:27px;
  height:16px;
  font-size:14px;
  text-align:right;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:794px;
  top:1055px;
  width:566px;
  height:77px;
  font-size:14px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:77px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:794px;
  top:1142px;
  width:180px;
  height:40px;
  font-size:10px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u117 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:630px;
  top:1055px;
  width:148px;
  height:127px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:127px;
}
#u119 {
  position:absolute;
  left:2px;
  top:48px;
  width:144px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:840px;
  top:990px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:880px;
  top:990px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u123 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:920px;
  top:990px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u125 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:630px;
  top:1204px;
  width:730px;
  height:10px;
}
#u126_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_end {
  position:absolute;
  left:713px;
  top:-5px;
  width:18px;
  height:20px;
}
#u126_line {
  position:absolute;
  left:0px;
  top:5px;
  width:730px;
  height:1px;
}
#u127 {
  position:absolute;
  left:630px;
  top:186px;
  width:211px;
  height:33px;
  font-size:28px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:33px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:984px;
  top:408px;
  width:180px;
  height:40px;
  font-size:10px;
  color:#FFFFFF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:984px;
  top:650px;
  width:180px;
  height:40px;
  font-size:10px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u132 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:984px;
  top:898px;
  width:180px;
  height:40px;
  font-size:10px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u134 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:984px;
  top:1142px;
  width:180px;
  height:40px;
  font-size:10px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u136 {
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:576px;
  top:308px;
  width:398px;
  height:240px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:250px;
}
#u138 {
  position:absolute;
  left:2px;
  top:112px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:588px;
  top:370px;
  width:292px;
  height:49px;
  font-size:12px;
  text-align:left;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:49px;
}
#u140 {
  position:absolute;
  left:10px;
  top:17px;
  width:272px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:588px;
  top:418px;
  width:292px;
  height:49px;
  font-size:12px;
  text-align:left;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:49px;
}
#u142 {
  position:absolute;
  left:10px;
  top:17px;
  width:272px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:588px;
  top:466px;
  width:292px;
  height:49px;
  font-size:12px;
  text-align:left;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:49px;
}
#u144 {
  position:absolute;
  left:10px;
  top:17px;
  width:272px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:840px;
  top:380px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:588px;
  top:322px;
  width:134px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:840px;
  top:426px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:840px;
  top:476px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
