body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:300px;
  width:309px;
  height:32px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:350px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u3 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:467px;
  top:350px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u5 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:420px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u7 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:60px;
  top:490px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u9 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:60px;
  top:630px;
  width:373px;
  height:130px;
  font-size:16px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:130px;
}
#u11 {
  position:absolute;
  left:10px;
  top:10px;
  width:353px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:467px;
  top:630px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u13 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:467px;
  top:700px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u15 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:60px;
  top:560px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u17 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:55px;
  top:190px;
  width:215px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:269px;
  top:190px;
  width:215px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:850px;
  width:426px;
  height:32px;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:60px;
  top:910px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u25 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:60px;
  top:980px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u27 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:60px;
  top:1050px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u29 {
  position:absolute;
  left:10px;
  top:21px;
  width:353px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:55px;
  top:32px;
  width:160px;
  height:80px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u32 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:558px;
  top:58px;
  width:142px;
  height:28px;
  font-size:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:914px;
  top:58px;
  width:80px;
  height:28px;
  font-size:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:1068px;
  top:58px;
  width:68px;
  height:28px;
  font-size:24px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:1210px;
  top:37px;
  width:150px;
  height:70px;
  font-size:24px;
  text-decoration:underline;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:70px;
}
#u40 {
  position:absolute;
  left:2px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:779px;
  top:58px;
  width:61px;
  height:28px;
  font-size:24px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:60px;
  top:1170px;
  width:215px;
  height:60px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:211px;
  word-wrap:break-word;
}
