body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:197px;
  width:237px;
  height:33px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:260px;
  width:210px;
  height:280px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:280px;
}
#u3 {
  position:absolute;
  left:2px;
  top:132px;
  width:206px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:330px;
  top:260px;
  width:490px;
  height:360px;
  font-size:14px;
  line-height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:360px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:868px;
  top:264px;
  width:42px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:60px;
  top:570px;
  width:210px;
  height:60px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:206px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:55px;
  top:32px;
  width:160px;
  height:80px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u12 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:558px;
  top:58px;
  width:144px;
  height:28px;
  font-size:24px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:914px;
  top:58px;
  width:79px;
  height:28px;
  font-size:24px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:1068px;
  top:58px;
  width:68px;
  height:28px;
  font-size:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:1210px;
  top:37px;
  width:150px;
  height:70px;
  font-size:24px;
  text-decoration:underline;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:70px;
}
#u20 {
  position:absolute;
  left:2px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:779px;
  top:58px;
  width:62px;
  height:28px;
  font-size:24px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:330px;
  top:552px;
  width:104px;
  height:50px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:443px;
  top:552px;
  width:104px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:556px;
  top:552px;
  width:104px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:868px;
  top:300px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1004px;
  top:300px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1140px;
  top:300px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:868px;
  top:410px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:868px;
  top:500px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:868px;
  top:335px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1004px;
  top:335px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1140px;
  top:335px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:868px;
  top:381px;
  width:67px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:868px;
  top:461px;
  width:87px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:868px;
  top:552px;
  width:93px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:868px;
  top:588px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1004px;
  top:588px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:280px;
  top:480px;
  width:398px;
  height:240px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:250px;
}
#u56 {
  position:absolute;
  left:2px;
  top:112px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:374px;
  top:542px;
  width:292px;
  height:49px;
  font-size:12px;
  text-align:left;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:49px;
}
#u58 {
  position:absolute;
  left:10px;
  top:17px;
  width:272px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:374px;
  top:590px;
  width:292px;
  height:49px;
  font-size:12px;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:49px;
}
#u60 {
  position:absolute;
  left:10px;
  top:17px;
  width:272px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:374px;
  top:638px;
  width:292px;
  height:49px;
  font-size:12px;
  text-align:left;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:49px;
}
#u62 {
  position:absolute;
  left:10px;
  top:17px;
  width:272px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:626px;
  top:552px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u63_ann {
  position:absolute;
  left:649px;
  top:548px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:374px;
  top:494px;
  width:134px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u65_ann {
  position:absolute;
  left:501px;
  top:490px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:626px;
  top:598px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:626px;
  top:648px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:60px;
  top:657px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:60px;
  top:697px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:60px;
  top:737px;
  width:30px;
  height:30px;
  font-size:10px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:100px;
  top:666px;
  width:200px;
  height:13px;
  font-size:10px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:100px;
  top:706px;
  width:200px;
  height:13px;
  font-size:10px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:100px;
  top:746px;
  width:200px;
  height:13px;
  font-size:10px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:13px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:60px;
  top:154px;
  width:113px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
