body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:55px;
  top:32px;
  width:160px;
  height:80px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u2 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:558px;
  top:58px;
  width:144px;
  height:28px;
  font-size:24px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:914px;
  top:58px;
  width:79px;
  height:28px;
  font-size:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1068px;
  top:58px;
  width:68px;
  height:28px;
  font-size:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:1210px;
  top:37px;
  width:150px;
  height:70px;
  font-size:24px;
  text-decoration:underline;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:70px;
}
#u10 {
  position:absolute;
  left:2px;
  top:21px;
  width:146px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:779px;
  top:58px;
  width:62px;
  height:28px;
  font-size:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:60px;
  top:190px;
  width:156px;
  height:33px;
  font-size:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:33px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:60px;
  top:350px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u16 {
  position:absolute;
  left:10px;
  top:20px;
  width:353px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:60px;
  top:420px;
  width:373px;
  height:60px;
  font-size:16px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u18 {
  position:absolute;
  left:10px;
  top:20px;
  width:353px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:60px;
  top:500px;
  width:373px;
  height:60px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u19_input:disabled {
  color:grayText;
}
#u20 {
  position:absolute;
  left:60px;
  top:258px;
  width:870px;
  height:62px;
  font-size:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:62px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:64px;
  top:720px;
  width:215px;
  height:60px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:20px;
  width:211px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:910px;
  width:1380px;
  height:200px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:200px;
}
#u25 {
  position:absolute;
  left:2px;
  top:92px;
  width:1376px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:760px;
  top:1170px;
  width:570px;
  height:340px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:340px;
}
#u27 {
  position:absolute;
  left:2px;
  top:162px;
  width:566px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:80px;
  top:1170px;
  width:570px;
  height:340px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:340px;
}
#u29 {
  position:absolute;
  left:2px;
  top:162px;
  width:566px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:80px;
  top:1540px;
  width:1250px;
  height:340px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:340px;
}
#u31 {
  position:absolute;
  left:2px;
  top:162px;
  width:1246px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:70px;
  top:630px;
  width:180px;
  height:19px;
  font-size:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:70px;
  top:664px;
  width:180px;
  height:19px;
  font-size:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:60px;
  top:590px;
  width:61px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u36_ann {
  position:absolute;
  left:114px;
  top:586px;
  width:1px;
  height:1px;
}
